<h1>
	<%= "Welcome to the #{@cohort.name} cohort page" %>
</h1>

<!-- This is how we pass the controller data to the client -->
<%= content_tag :div, class: 'cohort_statistics', data:{ cohort: @cohort, students: @students, days: @days, grad: @grad } do %>
<% end %>

<canvas id="myPieChart" width="200" height="200" style="float: left;">
</canvas>

<!-- Inline styles - gross -->
<div class="percent" style="float:left;font-size: 100px;color: #f0553a;">
</div>

<canvas id="myLineChart" width="400" height="200">
</canvas>

<%= javascript_include_tag 'analytics' %>

<a href="/">Home</a>